<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Novo Espaço</h1>

    <% if (typeof error !== 'undefined') { %>
    <p style="color: red"><%= error %></p>
    <% } %>

    <form action="/espacos" method="POST">
      <div>
        <label for="Nome">Nome:</label>
        <input type="text" id="Nome" name="Nome" required />
      </div>
      <div>
        <label for="Capacidade">Capacidade:</label>
        <input type="number" id="Capacidade" name="Capacidade" required />
      </div>
      <button type="submit">Criar</button>
    </form>
  </body>
</html>
